@page "{id:int}"
@model Fuerza_G_Taller.Pages.Model.DeleteModel
@{
    ViewData["Title"] = "Eliminar Modelo";
}

<h1>Eliminar Modelo</h1>

<p>¿Seguro que quieres eliminar el modelo: <strong>@Model.Model.Name</strong>?</p>

<form method="post">
    <button type="submit">Sí, eliminar</button>
    <a asp-page="IndexModel">Cancelar</a>
</form>
