@page
@model Fuerza_G_Taller.Pages.Brand.IndexModel
@{
    ViewData["Title"] = "Marcas";
}

<h1>Marcas</h1>

<a asp-page="Create">Agregar Marca</a>

<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var brandItem in Model.Brands)
        {
            <tr>
                <td>@brandItem.Id</td>
                <td>@brandItem.Name</td>
                <td>
                    <a asp-page="Edit" asp-route-id="@brandItem.Id">Editar</a> |
                    <a asp-page="Delete" asp-route-id="@brandItem.Id">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
