@page "{id:int}"
@model Fuerza_G_Taller.Pages.Owner.DeleteOwner
@{
    ViewData["Title"] = "Eliminar Propietario";
}

<h1>Eliminar Propietario</h1>

<p>¿Seguro que quieres eliminar al propietario: <strong>@Model.Owner.Name @Model.Owner.FirstLastName</strong>?</p>

<form method="post">
    <button type="submit">Sí, eliminar</button>
    <a asp-page="IndexOwner">Cancelar</a>
</form>
