@page
@model Fuerza_G_Taller.Pages.Service.CreateServiceModel
@{
    ViewData["Title"] = "Agregar Servicio";
}

<h1>Agregar Servicio</h1>

<form method="post">
    <div>
        <label>Nombre:</label>
        <input asp-for="Service.Name" />
    </div>
    <div>
        <label>Tipo:</label>
        <input asp-for="Service.Type" />
    </div>
    <div>
        <label>Precio:</label>
        <input asp-for="Service.Price" />
    </div>
    <div>
        <label>Descripción:</label>
        <input asp-for="Service.Description" />
    </div>
    <button type="submit">Guardar</button>
</form>

<a asp-page="IndexService">Volver</a>
