@page
@model Fuerza_G_Taller.Pages.Brand.CreateBrand
@{
    ViewData["Title"] = "Agregar Marca";
}

<h1>Agregar Marca</h1>

<form method="post">
    <div>
        <label>Nombre:</label>
        <input asp-for="Brand.Name" />
    </div>
    <button type="submit">Guardar</button>
</form>

<a asp-page="IndexBrand">Volver</a>