@page "{id:int}"
@model Fuerza_G_Taller.Pages.Brand.DeleteBrand
@{
    ViewData["Title"] = "Eliminar Marca";
}

<h1>Eliminar Marca</h1>

<p>¿Seguro que quieres eliminar la marca: <strong>@Model.Brand.Name</strong>?</p>

<form method="post">
    <button type="submit">Sí, eliminar</button>
    <a asp-page="IndexBrand">Cancelar</a>
</form>