@page "{id:int}"
@model Fuerza_G_Taller.Pages.Brand.EditBrand
@{
    ViewData["Title"] = "Editar Marca";
}

<h1>Editar Marca</h1>

<form method="post">
    <div>
        <label>Nombre:</label>
        <input asp-for="Brand.Name" />
    </div>
    <button type="submit">Guardar</button>
</form>

<a asp-page="IndexBrand">Volver</a>
